* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #e9b1c0;
    color: #9d0f0f;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 1px red;
}

#ul-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

li {
    list-style-type: none;
    text-align: center;
}

h1, h2 {
    text-shadow: 1px 1px 1px red;
}

h3 {
    color: red; 
}
